---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white text-3xl lg:text-4xl">
      Hi, I'm Bobomurod <span class="text-4xl lg:text-5xl">🪐</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a Software Engineer based in Tashkent.
          </p>
          <p class="animate">
            My work is centered around 
            <Link
              href="https://vuejs.org/"
              aria-label="Vue.js website link"
              external
            >
            Vue.js
            </Link>
            for intuitive front-end
            experiences and 
            <Link 
              href="https://deno.com/"
              aria-label="Deno website link"
              external
            >
              Deno
            </Link>
            /
            <Link
              href="https://nodejs.org/en"
              aria-label="Node website link"
              external
            >
              Node
            </Link>
            for reliable back-end services.
            I also have experience with Python and have dabbled in 
            C++ and Rust, which deepened my understanding of performance
            and systems programming.
          </p>
          <p class="animate">
            I’m fascinated by the underlying mechanics of computer science
            and love diving deep into how things work—whether it's low-level
            code execution, network operations, or system architecture.
            This curiosity drives me to continuously learn and improve,
            applying that knowledge to build better, more scalable
            and maintainable solutions.
          </p>
          <p class="animate">
            Outside of coding, I enjoy composing music and editing videos,
            constantly finding new ways to blend creativity with technology.
            I’m always up for interesting challenges. 
            So, let’s build something
            <a href="https://github.com/floss-uz/awesome"><b>awesome</b></a> 
            together!
          </p>
        </article>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white text-xl">
          Let's Talk
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              email
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
