---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import LinkCard from "@components/LinkCard.astro";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white text-3xl lg:text-4xl">
      Hi, I'm Bobomurod <span class="text-4xl lg:text-5xl">🪐</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a Software Engineer based in Tashkent.
          </p>
          <p class="animate">
            I make user interfaces using Vue.js for living. I love computers and genius ideas behind them.
            Have experience in writing on several programming languages. Currently, playing with C++ and microcontrollers.
          </p>
        </article>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white text-xl">
          Contacts
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              email
            </Link>
          </li>
        </ul>
      </section>

      <section class="animate flex flex-wrap md:flex-nowrap justify-between items-stretch gap-2">
        <LinkCard
          title="Work"
          description="My work timeline."
          href="/work"
        />
        <LinkCard
          title="Blog"
          description="My thoughts."
          href="/blog"
        />
        <LinkCard
          title="Projects"
          description="What I'm building"
          href="/projects"
        />
      </section>
    </div>
  </Container>
</PageLayout>
